*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*font-size: 10px === 1rem*/
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Press Start 2P", system-ui;
  background-color: #f0f0f0;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
}

.game {
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 30%;
}

.score {
  position: absolute;
  font-size: 1.6rem;
  right: 0;
  top: 0;
}

.start-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ground {
  position: absolute;
  bottom: 0.1rem;
}

.groundAnimation {
  animation: groundMoving 10s linear infinite;
}

.dino {
  position: absolute;
  left: 2%;
  bottom: 0.1rem;
  width: 4.2rem;
  height: 4.2rem;
}

.jump-animation {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    bottom: 0.1rem;
  }
  50% {
    bottom: 8rem;
  }
}

.hidden {
  display: none;
}

@keyframes groundMoving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-76%);
  }
}
